{% extends "nodectl/base.html" %}

{% block content %}
<h1>{{ node.descr }}</h1>
<p>Description {{ node.descr }}</p>
<p>mqtt topic {{ node.mqtt_topic }}</p>
<p>first active {{ node.first_active }}</p>
<p>Last active {{ node.last_active }}</p>
<p>Last status {{ node.last_status }}</p>

{% if nodedevices %}
    <ul>
    {% for device in nodedevices %}
        <li><a href="{% url 'nodectl:nodedevice' device.id %}">{{ device }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No devices defined are available.</p>
{% endif %}

{% endblock %}