{% extends "nodectl/base.html" %}

{% block content %}
<h1>{{ node.descr }}</h1>
<div class="w3-row">
  <div class="w3-col s2">
    <p>Description</p> 
  </div>
    <div class="w3-col s10">
    <p>{{ node.descr }}</p> 
  </div>
</div>
<div class="w3-row">
  <div class="w3-col s2">
    <p>mqtt topic</p> 
  </div>
    <div class="w3-col s10">
    <p>{{ node.mqtt_topic }}</p> 
  </div>
</div><div class="w3-row">
  <div class="w3-col s2">
    <p>first active</p> 
  </div>
    <div class="w3-col s10">
    <p>{{ node.first_active }}</p> 
  </div>
</div><div class="w3-row">
  <div class="w3-col s2">
    <p>Last active</p> 
  </div>
    <div class="w3-col s10">
    <p>{{ node.last_active }}</p> 
  </div>
</div><div class="w3-row">
  <div class="w3-col s2">
    <p>Last status</p> 
  </div>
    <div class="w3-col s10">
    <p>{{ node.last_status }}</p> 
  </div>
</div>

{% if nodedevices %}
    <ul>
    {% for device in nodedevices %}
        <li><a href="{% url 'nodectl:nodedevice' device.id %}">{{ device }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No devices defined are available.</p>
{% endif %}

{% endblock %}